@font-face {
	font-family: "Montserrat";
	src: url("../assets/font/Montserrat-VariableFont_wght.ttf");
	font-style: normal;
	font-display: swap;
}

:root {
	--primary-color: black;

	--primary-background: #222222;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}
