.menu {
	position: relative;
	list-style: none;
	background-color: #515151;
	width: 40%;
	border-end-end-radius: 16px;
}

.hamburger-button .icon {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.hamburger-button[aria-expanded="false"] .icon::before {
	content: "\2630";
}

.hamburger-button[aria-expanded="true"] .icon::before {
	content: "\2715";
}

.hamburger-button-js-enable + .menu {
	display: flex;
	position: absolute;
	width: calc(100% - 30px);
	left: 15px;
	top: 60px;
	flex-direction: column;
}

.menu li a {
	color: white;
	padding: 0.4rem 0;
	display: block;
	text-decoration: none;
}

.menu li a:hover,
.menu li a:focus {
	background-color: aqua;
}

.hamburger-button {
	background: none;
	border: none;
	color: black;
	font-size: 24px;
	padding: 14px;
	cursor: pointer;
}

.hamburger-button-js-enable {
	display: block;
}
