.header-hero {
	background: url("../assets/img/Hero-modelo.png") no-repeat center;
	background-size: cover;
	height: 200px;
	overflow: hidden;
}

.header-hero__title {
	padding-left: 14px;
	font-size: 1rem;
	font-weight: 800;
	width: 160px;
	text-align: left;
	color: var(--secundary-color);
	line-height: 1.2rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header-hero__title .title-blue {
	color: var(--tertiary-color);
}

.header-hero .header-hero__text {
	padding-left: 14px;
	width: 160px;
	font-size: 0.6rem;
	color: var(--secundary-color);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

.button-offert {
    font-size: 1rem;
    font-weight: 800;
	margin-left: 14px;
	color: var(--secundary-color);
	text-decoration: none;
	background: linear-gradient(to top, #ff6600 0%, #ff9900 100%);
	background: linear-gradient(180deg, #ff9500 0%, #ff5e00 100%);
	border: none;
	border-radius: 50px; /* Para o formato pílula */
	color: var(--secundary-color);
	padding: 12px 38px;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(255, 115, 0, 0.4);
}