.header-hero {
	background: url("../assets/img/hero-header/Hero-mobile.webp") no-repeat center;
	background-size: cover;
	height: 220px;
	overflow: hidden;
}

.header-hero .header-hero__title {
	padding: 24px 0 12px 14px;
	font-size: 1rem;
	font-weight: 700;
	width: 220px;
	text-align: left;
	color: var(--text-primary-color);
	line-height: 1.2rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.90);
}

.header-hero .header-hero__text {
	padding-left: 14px;
	width: 220px;
	font-size: 0.6rem;
	color: var(--text-primary-color);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
	.header-hero {
		background: url("../assets/img/hero-header/Hero-tablet.webp") no-repeat;
		background-size: cover;
		background-position: center;
		height: 380px;
	}

	.header-hero .header-hero__text,
	.header-hero .header-hero__title {
		width: 360px;
		padding: 4rem 0 0 2.5rem;
	}

	.header-hero .header-hero__title {
		width: 400px;
		font-size: 1.5rem;
		line-height: 1.2;
		margin-bottom: 1rem;
	}

	.header-hero .header-hero__text {
		font-size: 1rem;
		padding-top: 0;
	}

	.header-hero .button-offert {
		margin-left: 2.5rem;
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1024px) {
	.header-hero {
		background-size: cover;
		background-position: center;
		height: 380px;
	}
	.header-hero .header-hero__text,
	.header-hero .header-hero__title {
		width: 400px;
		padding: 4rem 0 0 4rem;
	}

	.header-hero .header-hero__text {
		padding-top: 1rem;
	}
}

@media screen and (min-width: 1366px) {
	.header-hero {
		background: url("../assets/img/hero-header/hero-desktop.webp");
		background-size: cover;
		background-position: center;
		height: 420px;
	}

	.header-hero .header-hero__text,
	.header-hero .header-hero__title {
		width: 650px;
		padding: 5rem 0 0 6rem;
		font-size: 2rem;
	}

	.header-hero .header-hero__text {
		padding-top: 1rem;
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 1920px) {
	.header-hero {
		background-size: cover;
		background-position: center;
		height: 620px;
	}
	.header-hero .header-hero__text,
	.header-hero .header-hero__title {
		width: 800px;
		padding: 8rem 0 0 10rem;
		font-size: 2.5rem;

	}

	.header-hero .header-hero__text {
		padding-top: 1rem;
		font-size: 1.5rem;
	}
}
